<!DOCTYPE html>
<html>
    <head>
        <title>Run run run</title>
        <link rel="stylesheet/less" type="text/css" href="/css/style.less" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    </head>
    <body>
        {{{yield-content}}}

        <script src="/shared/js/gametypes.js"></script>
        <script src="/js/lib/class.js"></script>
        <script data-main="/js/start" src="/js/lib/require.js"></script>
        {{{yield-scripts}}}
    </body>
</html>


